apiVersion: v1
kind: Service
metadata:
  name: spring-demo-svc
  labels:
    app: spring-demo
spec:
  selector:
    app: spring-demo
  ports:
  - name: http
    port: 80
    targetPort: 8080
  type: NodePort
